body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.navbar {
  width: 100%;
  height: 70px; /* Height of the navbar */
  background-color: #fd4268; /* Navbar background color */
  display: flex;
  justify-content: space-around; /* Space between the links */
  align-items: center; /* Center links vertically */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
  position: fixed; /* Fix navbar at the top */
  top: 0;
  left: 0;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  padding-right: 1500px;
}

.navbar-links {
    display: flex;
    gap: 20px; /* Space between the links */
    font-weight: bold;
    padding-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 0; /* Padding around the links */
}

.navbar a:hover {
  text-decoration: underline;
}

.container {
  /* max-width: 800px;
  width: 100%; */
  background-color: #fff;
  padding: 40px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);  */
  border-radius: 12px; 
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin: 70px auto; 
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.button {
  color: rgb(255, 0, 0);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  background-color: rgb(255, 155, 188);
  transition: background-color 0.3s ease;
}

.start-button {
  background-color: #ff69b4; /* Pink color */
}

.start-button:hover {
  background-color: #ff1493; /* Darker pink on hover */
}

.submit-button {
  background-color: #ff8c00; /* Orange color */
}

.submit-button:hover {
  background-color: #ff4500; /* Darker orange on hover */
}

.response-container {
 
  margin-top: 20px;
  padding: 20px;
  background-color: #f3ddef;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 100%;
  max-width: 560px;
  align-items: center;
  margin-left: 630px;
}

.response-container h2 {
  margin-bottom: 10px;
}

.response-container p {
  margin: 5px 0;
  font-size: 1.1em;
}

.response-container img {
  max-width: 50%;
  border-radius: 8px;
}